
<h2>Articles</h2>
{{#each articles}}
<div class="article">
    
    <h3>{{title}}</h3>
    
    {{!-- <p>Summary:{{note}}</p> --}}
    <a href=https://www.reddit.com{{link}}>
    <p>https://www.reddit.com{{link}}</p>
    </a>

    <form method="POST" action="/article/save">
        <input type="hidden" value="{{id}}" name="id" />
        <input type="submit" value="Save Article" />
    </form>
</div>
{{/each}}


