
<h2>Articles</h2>
{{#each articles}}
<div class="article">
    
    <h3>{{title}}</h3>
    
    {{!-- <p>Summary:{{note}}</p> --}}
    <a href=https://www.reddit.com{{link}}>
    <p>https://www.reddit.com{{link}}</p>
    </a>  
    
    <div class="notes">
        {{#each notes}}
            <p>Title: {{title}}</p>
            <p>Body: {{body}}</p>
        {{/each}}
    </div>  
</div>
{{/each}}


